<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
  <arguments>
   <argument name="collections" xsi:type="array">
     <item name="commerce9_quote_quote_listing_data_source" xsi:type="string">DevGridCategoryCollection</item>
   </argument>
  </arguments>
 </type>
 <virtualType name="DevGridCategoryCollection" type="Commerce9\Quote\Model\ResourceModel\Post\Collection">
   <arguments>
     <argument name="mainTable" xsi:type="string">commerce9_quote</argument>
     <argument name="resourceModel" xsi:type="string">Commerce9\Quote\Model\ResourceModel\Post</argument>
   </arguments>
 </virtualType>
</config>