<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="com9" translate="label" sortOrder="10">
            <label>Commerce9</label>
        </tab>
        <section id="helloworld" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Popup Configuration</label>
            <tab>com9</tab>
            <resource>Commerce9_Popup::helloworld_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
               <field id="popup_delay" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Popup Delay</label>
                    <comment>Type popup delay in seconds</comment>
                </field>
                <field id="offer_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Offer Title</label>
                    <comment>Write the offer title here</comment>
                </field>
                <field id="offer_description" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Offer Description</label>
                    <comment>write the offer description here</comment>
                </field>
            </group>
        </section>
    </system>
</config>